{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animated  cars Website</title>
    <!-- ..................Custom Css Link................... -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <!-- ..................FontAwesome Link................... -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
        <!-- ..................Start Navbar................... -->
        <nav>
            <div class="container nav-container">
                <div class="logoname">
                <a href="{% url 'about' %}" class="logo"><h3>Southern Sanandreas MotorCorp</h3></a>
                </div>
                <div class="navspace">
                <ul class="nav-link">
                    <li><a href="{% url 'about' %}" style="--i:1;">Home</a></li>
                    <li><a href="{% url 'catalogue' %}" style="--i:3;">Catalog</a></li>
                    <li><a href="{% url 'featured' %}" style="--i:4;">Featured</a></li>
                    <li><a href="{% url 'contact' %}" style="--i:5;" class="active">Contact</a></li>
                    <li><a href="{% url 'login' %}" style="--i:6;">Login</a></li>
                </ul>
                </div>
                <ul class="social-link">
                    <li><a href="" style="--i:1;"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="" style="--i:2;"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="" style="--i:3;"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </nav>
        <!-- ..................End Navbar................... -->


        <!-- ..................Start Header Section................... -->
        <header>
            <div class="container header-container">
                <div class="header-left">
                    <h1>Car Dealing Experience.</h1>
                    <h3>Redefined!!</h3>
                    <p>
                        Explore automotive excellence at Southern Sanandreas MotorCorp., where cutting-edge design meets unrivaled performance. Discover a curated collection of the finest cars, tailored for enthusiasts who demand nothing but the best. Your journey to automotive luxury starts here.
                    </p>
                    <a href="{% url 'catalogue' %}" class="btn">Explore Cars</a>
                </div>
                <div class="header-right">
                    <div class="sq-box">
                        <img src="{% static '2019_bugatti_divo_4k_6-3840x2160.png' %}" alt="" class="carimg" >
                    </div>
                </div>
            </div>
            <div class="sq-box2">hi</div>
        </header>



        <!-- ..................End Header Section................... -->

        <!-- <section class="about-section">
            <div class="container">
                <h3>About Us</h3>
                <p>
                    Step into a world where automotive 
                    elegance meets innovation. Southern
                     Sanandreas Motor Corp is not just a
                      showroom; it's a sanctuary for enthusiasts
                      . Our curated collection showcases the epitome of
                       craftsmanship and innovation, promising an unparalleled driving experience.
                </p>
                <p>
                    From the sleek lines of our sports cars to the commanding presence of luxury SUVs, each vehicle tells a unique tale. Our knowledgeable staff stands ready to guide you through this journey, ensuring that your visit is not just about cars—it's about a passion for the open road and the thrill of driving.
                </p>
            </div>
        </section> -->
</body>
</html> 
