{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animated  cars Website</title>
    <!-- ..................Custom Css Link................... -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <!-- ..................FontAwesome Link................... -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
        <!-- ..................Start Navbar................... -->
        <nav>
            <div class="container nav-container">
                <a href="{% url 'about' %}" class="logo"><h3>Southern Sanandreas MotorCorp</h3></a>
                <ul class="nav-link">
                    <li><a href="{% url 'about' %}" style="--i:1;" class="active">Home</a></li>
                    <li><a href="{% url 'catalogue' %}" style="--i:3;">Catalogue</a></li>
                    <li><a href="{% url 'featured' %}" style="--i:4;">Feautred</a></li>
                    <li><a href="" style="--i:5;">Contact</a></li>
                    <li><a href="" style="--i:5;">Login</a></li>
                </ul>
                <ul class="social-link">
                    <li><a href="" style="--i:1;"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="" style="--i:2;"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="" style="--i:3;"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </nav>
        <!-- ..................End Navbar................... -->


        <!-- ..................Start Header Section................... -->
        <header>
            <div class="container header-container">
                <div class="header-left">
                    <h1>Car Dealing Experience.</h1>
                    <h3>Redefined!!</h3>
                    <p>
                        Explore automotive excellence at Southern Sanandreas MotorCorp., where cutting-edge design meets unrivaled performance. Discover a curated collection of the finest cars, tailored for enthusiasts who demand nothing but the best. Your journey to automotive luxury starts here.
                    </p>
                    <a href="{% url 'catalogue' %}" class="btn">Explore Cars</a>
                </div>
                <div class="header-right">
                    <div class="sq-box">
                        <img src="{% static '2019_bugatti_divo_4k_6-3840x2160.png' %}" alt="" class="carimg" >
                    </div>
                </div>
            </div>
            <div class="sq-box2">hi</div>
        </header>
        <!-- ..................End Header Section................... -->
</body>
</html> 
