{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brand 1 Models - Southern Sanandreas MotorCorp</title>
    <link rel="stylesheet" href="{% static 'brand1.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <nav>
        <div class="container nav-container">
            <div class="logoname">
            <a href="{% url 'about' %}" class="logo"><h3>Southern Sanandreas MotorCorp</h3></a>
        </div>
        <div class="navspace">
            <ul class="nav-link">
                <li><a href="{% url 'about' %}" style="--i:1;">Home</a></li>
                <li><a href="{% url 'catalogue' %}" style="--i:3;">Catalog</a></li>
                <li><a href="{% url 'featured' %}" style="--i:4;">Featured</a></li>
                <li><a href="{% url 'contact' %}" style="--i:5;">Contact</a></li>
<!--                 <li><a href="{% url 'login' %}" style="--i:6;">Login</a></li> -->
                <li><a href="{% url 'booktestdrive' %}" style="--i:5;" class="">Book A Test Drive</a></li>
                    <li><a href="{% url 'booking' %}" style="--i:5;" class="">Book Your Car</a></li>
                    <li><a href="{% url 'adminlogin' %}" style="--i:6;">Login</a></li>
            </ul>
        </div>
            <ul class="social-link">
                <li><a href="" style="--i:1;"><i class="fab fa-facebook"></i></a></li>
                <li><a href="" style="--i:2;"><i class="fab fa-twitter"></i></a></li>
                <li><a href="" style="--i:3;"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
    </nav>

    <section class="brand-models">
        
        <div class="container">
           
            <h2>{{t}}</h2>
            {% for c in c %}
            <div class="model-item">
                <img src="{{c.img.url}}" alt="Model 1">
                <h3>{{c.model}}</h3>
                <p>Price: {{c.price}}</p>
                <p>Description: {{c.des}}</p>
            </div>
            {% endfor %}
            <!-- <div class="model-item">
                <img src="model2_image.jpg" alt="Model 2">
                <h3>Model 2</h3>
                <p>Description of Model 2 goes here.</p>
            </div> -->

            <!-- Add more model items as needed -->
           
        </div>
       
    </section>

    <div class="sq-box2">hi</div>
</body>
</html>
