{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Southern Sanandreas MotorCorp</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <nav>
        <div class="container nav-container">
            <div class="logoname">
            <a href="{% url 'about' %}" class="logo"><h3>Southern Sanandreas MotorCorp</h3></a>
        </div>
           <div class="navspace">
            <ul class="nav-link">
                <li><a href="{% url 'about' %}" style="--i:1;">Home</a></li>
                <li><a href="{% url 'catalogue' %}" style="--i:3;">Catalog</a></li>
                <li><a href="{% url 'featured' %}" style="--i:4;">Featured</a></li>
                <li><a href="{% url 'contact' %}" style="--i:5;">Contact</a></li>
                <!-- <li><a href="contact.html" style="--i:5;">Book a test drive</a></li> -->
                <li><a href="{% url 'login' %}" style="--i:6;" class="active">Login</a></li>
            </ul>
        </div>
            <ul class="social-link">
                <li><a href="" style="--i:1;"><i class="fab fa-facebook"></i></a></li>
                <li><a href="" style="--i:2;"><i class="fab fa-twitter"></i></a></li>
                <li><a href="" style="--i:3;"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
    </nav>

    <section class="login">
        <div class="container">
            <div class="login-box" id="customer-box">
                <a href="customer_login.html" class="login-section">
                    <h2>Customer Login</h2>
                </a>
            </div>

            <div class="login-box" id="admin-box">
                <a href="admin_login.html" class="login-section">
                    <h2>Admin Login</h2>
                </a>
            </div>
        </div>
    </section>
    <div class="sq-box2">hi</div>
   

</body>
</html>
