{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Inventory - Car Showroom Admin</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'viewinventory.css' %}">
</head>
<body>
    
    <header>
        <h1><i class="fas fa-car"></i>Southern Sanandreas Motor Corp.</h1>
        <h2>Welcome Manager</h2>
        <a href="{% url 'logoutuser' %}" class="btn">LogOut</a>
        <a href="{% url 'admindashboard' %}" class="btn">Dashboard</a>
    </header>

    <main>
        {% if messages %}
        {% for message in messages %}
        {%if "posted" in message.tags %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="content-container">
            <h2>View Inventory</h2>

            <table>
                <thead>
                    <tr>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Year</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th>Edit</th>
                        <!-- Add more columns for other car details -->
                    </tr>
                </thead>
                <tbody>
                    <!-- Loop through your cars data and populate the table rows -->
                    {% for car in cars %}
                        <tr>
                            <td>{{ car.make }}</td>
                            <td>{{ car.model }}</td>
                            <td>{{ car.year }}</td>
                            {% if car.img %}
                                <td ><img src="{{ car.img.url }}" alt=""></td>
                            {% else %}
                                <td><img src="" alt="img error"></td>
                            {% endif %}
                            <td>{{ car.price }}</td>
                            <td>
                                <a href="{% url 'editpage' car.model %}" class="btn btn-success button">Edit</a>
                            </td>
                           
                            <!-- Add more columns for other car details -->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
